{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Estilo global -->
    <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">

    <!-- Estilos específicos -->
    {% block extra_styles %}{% endblock %}

    <title>{% block title %}Bernasconi App{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
