{% extends 'base_main.html' %}
{% load static %}

{% block title %}Home - Bernasconi Museum{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">

    <header class="main-header">

        <div class="header-left">
            <img src="{% static 'img/logo_cuadros.png' %}" class="logo-header" alt="Logo Museo Bernasconi">
            <img src="{% static 'img/login_footer.png' %}" class="logo-text" alt="Texto Museo Bernasconi">
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="#">Catálogos</a></li>
                <li><a href="#">Administración</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'auth_logout' %}">Salir</a></li>
            </ul>
        </nav>

    </header>

    <!-- Hero con imagen de fondo -->
    <div class="hero">

    </div>

    <!-- Footer pegado abajo -->
    <footer class="footer">
        &copy; 2025 Bernasconi Museum. Todos los derechos reservados.
    </footer>

</div>
{% endblock %}
