:root {
    --bg-light: #fafafa;
    --bg-dark: #1c1c1c;
    --text-main: #333;
    --text-light: #ffffff;

    --primary: #1e88e5;
    --primary-hover: #1565c0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--bg-light);
    color: var(--text-main);

    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ✅ fuerza cubrir pantalla */
}

/* ---------------- HEADER ---------------- */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-header, .logo-text {
    max-height: 60px;
}

/* ---------------- NAV ---------------- */

.main-nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
}

.main-nav a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 600;
    transition: 0.2s;
}

.main-nav a:hover {
    color: var(--primary);
}

/* ---------------- HERO ---------------- */

.hero img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* ---------------- FOOTER ---------------- */

.main-footer {
    background: var(--bg-dark);
    color: var(--text-light);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* ✅ Hace que el footer quede abajo */
}
